body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
:root {
  --titlebar-padding-left: env(titlebar-area-x, 0);
  --titlebar-padding-right: calc(100% - env(titlebar-area-x, 0) - env(titlebar-area-width, 100%));
  --titlebar-height: env(titlebar-area-height, 0);
}

* {
  box-sizing: border-box;
}
